absl-py==0.9.0
backcall==0.2.0
catkin-pkg==0.4.16
catkin-tools==0.4.5
cffi==1.14.0
colour==0.1.5
-e git+https://github.com/markwmuller/controlpy@e69db603b4b87d8a23e877ba62c9d7320346a35a#egg=controlpy
cvxopt==1.2.5
cvxpy==1.0.25
cycler==0.10.0
Cython==0.29.15
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.1.1
distro==1.4.0
-e git+https://github.com/deepmind/dm_control@997df74df8e4149f3f5a07f6baaba88bc56fc8e3#egg=dm_control
dm-env==1.2
dm-tree==0.1.5
docutils==0.16
ecos==2.0.7.post1
empy==3.3.4
faber===snapshot
fasteners==0.15
future==0.18.2
glfw==1.11.2
gurobipy==9.0.1
imageio==2.8.0
ipykernel==5.3.0
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.1
jupyter-client==6.1.3
jupyter-core==4.6.3
kiwisolver==1.1.0
labmaze==1.0.2
lxml==4.5.1
-e git+https://github.com/3b1b/manim@3c1a6bb8b10ec5e8c4760c91c9e9f148e81d3b57#egg=manimlib
matplotlib==3.2.0rc3
mock==4.0.2
monotonic==1.5
mujoco-py==2.0.2.10
multiprocess==0.70.9
netifaces==0.10.9
numpy==1.18.1
opencv-python==4.2.0.32
osqp==0.6.1
osrf-pycommon==0.1.9
packaging==20.1
pandas==1.0.1
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
progressbar==2.5
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pycairo==1.19.1
pycddlib==2.1.1
pycparser==2.19
pydub==0.24.1
Pygments==2.6.1
PyOpenGL==3.1.5
pyparsing==2.4.6
pyrealsense2==2.32.1.1331
python-dateutil==2.8.1
-e git+https://github.com/heirung/pytope@ebd85404ba235e8223fca1f6ba8817decccc4797#egg=pytope
pytz==2019.3
PyYAML==5.3
pyzmq==19.0.1
rosdep==0.18.0
rosdistro==0.8.0
rosinstall==0.7.8
rosinstall-generator==0.1.18
rospkg==1.2.3
scipy==1.4.1
scs==2.1.1.post2
Shapely==1.7.0
sip==5.1.1
six==1.14.0
toml==0.10.0
tornado==6.0.4
tqdm==4.47.0
traitlets==4.3.3
trollius==2.1.post2
ur-kinematics==1.2.1
# Editable install with no version control (UrRtde==2.7.12)
-e /home/tony/Downloads/ursim-5.4.0.76181/programs.UR5/rtde-2.2.3
vcstools==0.1.42
wcwidth==0.2.5
wstool==0.1.17
